<li class="p-2">
	{{name}}
	{{#if devoured}}
	<button class="change-devour btn btn-light btn-outline-dark float-right" type="button" data-id="{{id}}" data-newdevour="{{devoured}}">
		Devour
	</button>
	{{/if}}
</li>
